{% extends 'base.html' %}
{% load static %}
{% load listPartition %}

{% block header %}
<title>Oliver Little Photography</title>
<link rel="stylesheet" href="{% static 'photography/photography.css' %}">
<script src="{% static 'photography/photography.js' %}"></script>
{% endblock header %}

{% block content %}
<nav class="navbar navbar-expand-sm fixed-top p-2 pl-3">
    <a class="navbar-brand" href="{% url 'landingPage' %}">Oliver Little</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerTarget">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerTarget">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'landingPage' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="currentPage">Photography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blogHome' %}">Blog</a>
            </li>
        </ul>
    </div>
</nav>
<div style="height: 6vh;"></div>
<div class="d-flex flex-column justify-content-center align-items-center introContainer">
    <h1 class="animateUp" id="mainTitle">A collection of my best photos.</h1>
    <p class="animateUp" id="subTitle">Click to view full screen.</p>
</div>
<div class="container-fluid animateUp" id="photos"> 
    <!--this applies a function to the url which checks if the image is an i.imgur.com image, at which point it appends the given thumbnail to the url -->
    {% for item in images %}
        <div class="imageContainer">
            <a href="#imageModal" data-toggle="modal" data-target="#imageModal" data-image="{{item.url}}" data-camera="{{item.camera}}" data-lens="{{item.lens}}">
            <img src="{{item.url|appendImgurThumbnail:"l"}}" loading="lazy" class="image">
            <span class="selected fa fa-search-plus" style="color: #FFFFFF; margin-top: -25px; margin-left: -25px; font-size: 50px;"></span>
            </a>
        </div>
    {% endfor %}
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="imageModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="modalImage" src="">  <!-- to be set at runtime -->
            </div>
        </div>
    </div>
    <button class="btn topRight" onclick="hideModal()">
        <span class="fa fa-close" style="color: #FFFFFF; z-index: 2;"></span>
    </button>
</div>
<div class=" d-flex justify-content-center">
    <button class="btn minimalBtn" id="scrollBtn">
        <span class="fa fa-arrow-up" style="color: #999999;"></span>
    </button>
</div>
{% endblock content %}