body {
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgb(245,245,245);
    box-shadow: 0 3px 10px 0px #888;
}

.navbar .navbar-nav li a {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    color: #777777;
}

.navbar .navbar-nav li #currentPage {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    color: #333;
}

.navbar .navbar-nav li a:hover {
    color: #000;
}

.navbar .navbar-brand {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #292F36;
}

.backgroundContainer {
    position: relative;
}

.foregroundContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.minimalBtn {
    background-color: transparent;
}

.minimalBtn:hover {
    background-color: #eeeeee;
}

.animateOpacity {
    opacity: 0;
    transform: translateY(75px);
}

.animateUp {
    opacity: 0;
    transform: translateY(75px);
}

.animateRight {
    opacity: 0;
    transform: translateX(-75px);
}

.animateIn {
    opacity: 1;
    transform: none;
    transition: transform 1s cubic-bezier(0,.1,0,1),
                opacity .5s ease;
}