:root {
    --aboutBackground: #292F36;
    --aboutHighlight: #F7F4F3;
    --contactBackground: #FFFFFF;
    --contactHighlight: #292F36;
}

.aboutText {
    color: var(--aboutHighlight);
}

.contactText {
    color: var(--contactHighlight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.screenSection {
    width: 100%;
    min-height: 100vh;
}

.profileImage {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 30%;
    object-fit: contain;
}

.align-left-md {
    margin-left: 5%;
}

@media (min-width: 1200px) {
    .wideContainer {
        max-width: 85%
    }
}

@media (max-width: 1199px) {
    .wideContainer {
        max-width: 95%;
    }
}

@media (min-width: 768px) {
    .align-left-md {
        margin-left: 15%;
    }
}

@media (max-width: 767px) { 
    .align-center-sm {
        justify-content: center;
    }
}

.highlightSquare {
    position: relative;
    height: 125px;
    width: 125px;
    margin: 0 auto;
    
}

.rotateSquare {
    position: absolute;
    background-color: white;
    height: 0%;
    width: 0%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    border-radius: 50%;
    transform-origin: center;
    transform: rotateZ(450deg);
}

.rotateSquare.anim {
    animation: highlightSquareRotateAnimation 1.5s forwards;
}

.fillSquare {
    position: absolute;
    background-color: var(--aboutBackground);
    height: 0%;
    width: 0%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    border-radius: 70px;
}

.fillSquare.anim {
    animation: highlightSquareFillAnimation 1.5s forwards;
}

.highlightContent > span {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px;
    
}

.highlightContent > p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90%;
    text-align: center;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

.highlightContent {
    opacity: 0;
    transition: opacity 0s 1.1s linear;
}

.highlightContent.anim {
    opacity: 1;
}

.contactButton {
    position: relative;
    border-radius: 10px;
    border-width: 5px;
    border-color: var(--contactHighlight);
    max-width: 300px;
    width: 100%;
    background-color: var(--contactBackground);
    transform: none;
}

.contactButtonHoverAnim {
    transition: background-color 0.3s ease-out,
                transform 0.3s ease-in-out;
}

.contactButton > div > span {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 200%;
    backface-visibility: hidden;
    transition: color 0.3s ease-out;
}

.contactButton > div > p {
    font-family: "Nunito Sans";
    font-size: 200%;
    font-weight: bold;
    transition: color 0.3s ease-out;
}

.contactButton:hover {
    background-color: var(--contactHighlight);
    transform: translateY(-0.5em) scale(1.03);
}

.contactButton:hover > div > span {
    color: var(--contactBackground);
}

.contactButton:hover > div > p {
    color: var(--contactBackground);
}

/* Animations */

.hide {
    opacity: 0;
    transform: translateY(-4em);
    transition: opacity 0.5s ease-out,
                transform 0.5s ease-out;
}

.animateProfileImage {
    opacity: 0;
    transform: translateY(10em) scale(0.8, 0.8);
    transition: opacity 0.5s ease-out,
                transform 1s cubic-bezier(0,.30,0,1);
}

.animateProfileImageIn {
    opacity: 1;
    transform: none;
    animation: idleProfileAnimation 20s infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes idleProfileAnimation {
    0% {
        transform: none;
    }
    33% {
        transform: translateY(1em);
    }
    66% {
        transform: translateY(-1em);
    }
    100% {
        transform: none;
    }
}

@keyframes highlightSquareRotateAnimation {
    0% {
        border-radius: 0px;
        height: 0%;
        width: 0%;
        transform: none;
    }
    66% {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        transform: rotateZ(450deg);
    }
    100% {
        border-radius: 75px;
        height: 100%;
        width: 100%;
    }
}

@keyframes highlightSquareFillAnimation {
    66% {
        height: 0%;
        width: 0%;
    }
    90% {
        height: 90%;
        width: 90%;
    }
    100% {
        height: 90%;
        width: 90%;
    }
}